---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

import { ClientRouter } from "astro:transitions";
const baseUrl = import.meta.env.BASE_URL.endsWith("/")
  ? import.meta.env.BASE_URL
  : import.meta.env.BASE_URL + "/";

const { title, description, image = `${baseUrl}screenshot.jpg` } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Font-face declarations with proper base URL handling -->
<style
  set:html={`
  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-Black.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-Bold.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-ExtraBold.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-ExtraLight.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-Light.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-Medium.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-Regular.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-SemiBold.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Alexandria';
    src: url('${baseUrl}fonts/Alexandria-Thin.woff2') format('woff2'),
         url('${baseUrl}fonts/Alexandria-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Kablammo';
    src: url('${baseUrl}fonts/Kablammo-Regular.woff2') format('woff2'),
         url('${baseUrl}fonts/Kablammo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
`}
></style>

<!-- Font preloads -->
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-Bold.woff2`}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-Bold.woff`}
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-Light.woff2`}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-Light.woff`}
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-Regular.woff2`}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-Regular.woff`}
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-SemiBold.woff2`}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Alexandria-SemiBold.woff`}
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Kablammo-Regular.woff2`}
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href={`${baseUrl}fonts/Kablammo-Regular.woff`}
  as="font"
  type="font/woff"
  crossorigin
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<ClientRouter />
<meta name="title" content={title} />
<meta name="description" content={description} />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href={`${baseUrl}favicon/apple-touch-icon.png`}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href={`${baseUrl}favicon/favicon-32x32.png`}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href={`${baseUrl}favicon/favicon-16x16.png`}
/>
<link rel="manifest" href={`${baseUrl}favicon/site.webmanifest`} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
